<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Lemongrass Movie Recommender</title>
</head>

<body>
  <!-- The body is what is rendered on screen -->
  <h1>Hello, Welcome to my Movie Recommender!</h1>

  <form action="/recommendations">
    <p>Please select five movies you would like to rate:</p>
    Movie 1:
    <input type="text" name="movie1" placeholder="Movie title"><input type="text" name="rating1" placeholder="Rating 1-5"><br>
    Movie 2:
    <input type="text" name="movie2" placeholder="Movie title"><input type="text" name="rating2" placeholder="Rating 1-5"><br>
    Movie 3:
    <input type="text" name="movie3" placeholder="Movie title"><input type="text" name="rating3" placeholder="Rating 1-5"><br>
    Movie 4:
    <input type="text" name="movie4" placeholder="Movie title"><input type="text" name="rating4" placeholder="Rating 1-5"><br>
    Movie 5:
    <input type="text" name="movie5" placeholder="Movie title"><input type="text" name="rating5" placeholder="Rating 1-5"><br>
    <input type="submit">   <!-- Creates a GET request by default -->
  </form>
  <br>
  <br>
  <a href='https://www.spiced-academy.com'>Go to Spiced!</a>
  <br>
  <a href='/recommendations'>Show me my recommendations!</a>
</body>

</html>
