credentials.py
__pycache__
slack_auth.txt
/extra\ lyrics\ data/
Week_4/AllisonKrauss/
Week_4/BonnieRaitt/
Week_4/BrandiCarlile/
Week_4/DollyParton/
Week_4/EmmylouHarris/
Week_4/LindaRonstadt/
Week_4/LudindaWilliams/
